.manage {
  min-height: 100vh;
  width: 100vw;
  background-color: #00BCD4;
}

.manage-inner {
  max-width: 980px;
  padding: 20px;
  margin: auto;
  overflow: auto;
}

.manage-left {
  float: left;
  width: 80%;
}

.manage-right {
  float: right;
  width: 20%;
}